---
import type { GroupResult } from 'helpers/groupBySuccessive';
import { getLangFromUrl, useTranslations } from 'i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  filter?: string[]
  groupByResult?: GroupResult<any>
  originPathnameAgnostic?: boolean
  defaultPath: string
  i18nPropertyName: string
  description: string
}
const { defaultPath, description, filter, groupByResult, i18nPropertyName, originPathnameAgnostic } = Astro.props
const base = originPathnameAgnostic ? defaultPath : Astro.originPathname;
const elems = (filter ?? (groupByResult ? Object.keys(groupByResult): []))
---
<h2>{
    !originPathnameAgnostic ? 
      description 
      : <a href={base}>{description}</a>
  }</h2>
<ul>
{ elems.map(i => (
  <li>
    <a href={[base, i].join("/")}>{
      // @ts-ignore
      t(i18nPropertyName)[i] ?? i
    }</a>
  </li>
)) }
</ul>
