---
import { docFirst } from 'helpers/legalstamp.groupedBy'

import { getLangFromUrl, useTranslations } from 'i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<h2><a href="/d">By Document Type</a></h2>
<ul>
{ Object.keys(docFirst).map(i => (
  <li>
    <a href={"/d/" + i}>{
      // @ts-ignore
      t('documentType')[i]
    }</a>
  </li>
)) }
</ul>
