---
import { langFirst } from 'helpers/legalstamp.groupedBy'

import { getLangFromUrl, useTranslations } from 'i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  langs?: string[]
  originPathnameAgnostic?: boolean
}
const { langs, originPathnameAgnostic } = Astro.props;
const base = originPathnameAgnostic ? "/l" : Astro.originPathname;
---
<h2><a href={base}>By Lang</a></h2>
<ul>
{ (langs ?? Object.keys(langFirst)).map(i => (
  <li>
    <a href={base + "/" + i}>{
      // @ts-ignore
      t('lang')[i]
    }</a>
  </li>
)) }
</ul>
