---
import { productOrOrgFirst } from 'helpers/legalstamp.groupedBy'

import { getLangFromUrl, useTranslations } from 'i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<h2><a href="/p">By Product or Organization</a></h2>
<ul>
{ Object.keys(productOrOrgFirst).map(i => (
  <li>
    <a href={"/p/" + i}>{
      // @ts-ignore
      t('productOrOrganization')[i]
    }</a>
  </li>
)) }
</ul>
