---
import { availableFormatsConfig } from 'helpers/legalstamp.groupedBy';
interface Props {
	isEnhanced?: boolean
}
const { isEnhanced } = Astro.props
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div id="content">
			<slot />
		</div>
	</body>
	{ isEnhanced && 	
	<footer>
		<a href={[Astro.url, availableFormatsConfig.markdown.name].join('/')}>Markdown #️⃣</a>
		<br/>
		<a href={[Astro.url, availableFormatsConfig.html.name].join('/')}>HTML 🌏</a>
	</footer>
	}
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}

	#content {
		padding: 1rem 3rem 5rem 2rem;;
	}

	footer {
		padding: 2rem;
		text-align: right;
    	font-size: .75rem;
	}
</style>
