---
import "styles/theme.css"
import ArianeLink from "components/ArianeLink.astro";
import ThemeIcon from 'components/ThemeIcon.astro';
import { availableFormatsConfig, defaultDocFormat } from 'helpers/legalstamp.groupedBy';

interface Props {
	isEnhanced?: boolean
}
const { isEnhanced } = Astro.props
const reachingDefaultDocFormat = Astro.url.pathname.split('/').at(-1) == defaultDocFormat
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<></>
	{isEnhanced && <a class="back" href="..">{"<"} Back</a>}
	<ThemeIcon float={true} hide={!isEnhanced} />
	<body>
		<div id="content">
			<slot />
		</div>
	</body>
	{ isEnhanced && 	
	<footer>
		<a href={
			reachingDefaultDocFormat 
				? availableFormatsConfig.markdown.name 
				: [Astro.url, availableFormatsConfig.markdown.name].join('/')
			}>Markdown #️⃣</a>
		<br/>
		<a href={reachingDefaultDocFormat 
				? availableFormatsConfig.html.name 
				:[Astro.url, availableFormatsConfig.html.name].join('/')
			}>HTML 🌏</a>
	</footer>
	}
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}

	#content {
		padding: 1rem 3rem 5rem 2rem;;
	}

	footer {
		padding: 2rem;
		text-align: right;
    	font-size: .75rem;
	}

	.back {
		position:absolute;
		padding-left: 1rem;
		padding-top: .25rem;
		font-size: .75rem;
	}
</style>
